/* custom css*/

body {
    padding-top: 70px;
}

/* Styling for Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #248ea3;
    z-index: 1030;
    color: #fff !important;
    font-weight: bold !important;
}

.navbar * {
    color: #fff !important;
}

/* Active and Hover states */
.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: #6e3dcf;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

/* Site heading and subheading */
.site-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subheading {
    text-align: center;
}

/* Masthead and Typography */
.masthead {
    margin-top: 100px;
}

.display-4 {
    font-size: calc(1.475rem + 1.7vw);
    font-weight: 300;
    line-height: 1.2;
}

/* Button and Link styles */
.btn-primary {
    background-color: #248ea3;
    border-color: #0085A1;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: gray;
}

/* Footer styles */
.footer-text-color {
    color: white;
}

/* Contact form styling */
.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.contact-form .form-control {
    border-radius: 0.25rem;
}

.contact-form button[type="submit"] {
    width: 30%; 
    padding: 10px;
    border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }
}

/* Navbar layout adjustment for large screens */
@media (min-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-right: 15px;
        text-align: right;
    }

    .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }

    #navbarResponsive {
        justify-content: flex-end;
    }
}
