{% extends "base.html" %}
{% load i18n %}

{% block head_title %} {% trans "Contact" %} {% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
        <div class="row">
            <div class="col-lg-6 mb-4">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1699354020/healthclub-pp4/pexels-bich-tran-669986_1_hwbku7.jpg"
                        alt="Gym" class="card-img-top img-fluid">
                    
                    <div class="card-body">
                        <h3 class="card-title">{% trans "Contact" %}</h3>
                        <form onsubmit="return sendMail(this);" id="contactForm" class="contact" method="POST" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                {{ form.name_contact.label_tag }}
                                {{ form.name_contact }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.contact_message.label_tag }}
                                {{ form.contact_message }}
                            </div>
                            <button id="sendButton" type="submit" class="btn btn-primary">
                                {% trans "Send" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    emailjs.init("RO0elmR_iHiWZiyEO");

    function sendMail(contactForm, event) {
        event.preventDefault();
            
        var templateParams = {
            name: contactForm.name_contact.value,
            email: contactForm.email.value,
            message: contactForm.contact_message.value
        };
        
        emailjs.send('service_b8gz1av', 'template_8j0ugds', templateParams)
            .then(function(response) {
                console.log('SUCCESS!', response.status, response.text);
                alert("Thank you for contacting us, you will hear from us shortly!");
                contactForm.reset();
            }, function(error) {
                console.log("Ooops, something went wrong. Try again.");
            });
        return false;
    }
</script>

{% endblock %}
